@*@model*@ 
@{
    ViewBag.Title = "Contact";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="row">
        <div class="col-mid-12">
            <h2>Study Name:</h2>
            @Html.TextArea 
        </div>
    </div>
</section>

<div id="form" class="container">
    @using (Html.BeginForm("Index", "Exercise", FormMethod.Post))
    {
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="pull-right">
                    <a href="@Url.Action("Create", "Exercise")" class="btn btn-primary">Add Exercise</a>
                </div>
                <h4 class="pull-left"><strong>My Exercises</strong></h4>
                <div class="clearfix"></div>
            </div>
            <div class="panel-body">
                <div class="narrow-gutter">
                    @foreach (var item in Model)
                    {
                        Html.RenderPartial("_Quesion", item);
                    }
                </div>
            </div>
        </div>
    }
</div> 
