@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>(801)-863-INFO (4636)</span>
    </p>

</section>

<section class="contact">
    <header>
        <h3>Administration</h3>
    </header>
    <p>
        <span class="label">  Department Chair -</span>
        <span><a href="http://www.uvu.edu/profpages/profiles/show/user_id/1259">Dr. Kris Doty</a></span>
    </p>
    <p>
        <span class ="label">  Assistant Department Chair -</span>
        <span><a href="http://www.uvu.edu/profpages/profiles/show/user_id/2311">Dr. Cameron John</a></span>
    </p>
    <p>
        <span class="label">  BSW Program Director -</span>
        <span><a href="http://www.uvu.edu/profpages/profiles/show/user_id/1356">Dr. Lars Eggersten</a></span>
    </p>
    <p>
        <span class="label">  BSW Field Director -</span>
        <span><a href="http://www.uvu.edu/besc/contact/">Dr. Kris Doty</a></span>
    </p>
    <p>
        <span class="label">  Administrative Assistant III -</span>
        <span><a href="http://www.uvu.edu/besc/contact/">Kiera Davis</a></span>
    </p>
    <p>
        <span class="label">  Administratitive Assistant II -</span>
        <span><a href="http://www.uvu.edu/besc/contact/">Tara Hammond</a></span>
    </p>


</section>
<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:Support@example.com">Support@example.com</a></span>
    </p>
    <p>
        <span class="label">Marketing:</span>
        <span><a href="mailto:Marketing@example.com">Marketing@example.com</a></span>
    </p>
    <p>
        <span class="label">General:</span>
        <span><a href="mailto:General@example.com">General@example.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        800 West University Parkway<br />
        Orem, Ut 84058
    </p>
</section>